@import "tailwindcss";

:root {


  --shadow: 0 0 20px 2px #cec2ba;

  --playfairDisplay: 'Playfair Display', serif;
  --inter: 'Inter', sans-serif;
  --playball: 'Playball', cursive;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme {
  --color-bg: var(--bg);
  --color-dark-accent: var(--dark-accent);
  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --shadow-shadow: var(--shadow);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-accent: var(--font-accent);
  --font-playfairDisplay: var(--playfairDisplay);
} 

html {
  scroll-behavior: smooth;
}